/*Fonts*/
$primary-fonts: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$secondary-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

/*Green colour theme*/
$green-scale-1: rgb(0, 139, 139);
$green-scale-2: rgb(157, 216, 216);
$green-scale-3: rgba(0, 139, 139, 0.1);
$green-scale-4: rgb(233, 239, 240);

/*White colour theme*/
$white-scale-1: beige;
$white-scale-2: white;
$white-scale-3: rgba(255, 255, 255, 0.75);
